<h1>Pirate:</h1>
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>

<h2>Ships:</h2>
  <% @ship.each do |s| %>
    <p>Name: <%= s.name %></p>
    <p>Type: <%= s.type %></p>
    <p>Booty: <%= s.booty %></p>
    <br>
  <% end %>