<%= erb :'layouts/_header' %>

<div class="container">

  <h2>Argghhh, say hello to:</h2>
  <p><%= @pirate.name %></p>
  <p><%= @pirate.weight %></p>
  <p><%= @pirate.height %></p>

  <h2>Their ship's info</h2>

  <p><%= @ship1.name %></p>
  <p><%= @ship1.ship_type %></p>
  <p><%= @ship1.booty %></p>

  <p><%= @ship2.name %></p>
  <p><%= @ship2.ship_type %></p>
  <p><%= @ship2.booty %></p>
</div>

<%= erb :'layouts/_footer' %>

